{% extends 'base.html' %}
{% block content %}
<h2>{{ action }}</h2>
<form method="post">
  {% if action == 'Create User' %}
    <label>Username: <input type="text" name="username"></label><br>
    <label>Email: <input type="email" name="email"></label><br>
  {% elif action == 'Create Post' %}
    <label>User:
      <select name="user_id">
        {% for user in users %}
          <option value="{{ user.user_id }}">{{ user.username }}</option>
        {% endfor %}
      </select>
    </label><br>
    <label>Content: <textarea name="content"></textarea></label><br>
  {% elif action == 'Create Comment' %}
  <label>User:
    <select name="user_id">
      {% for user in users %}
        <option value="{{ user.user_id }}">{{ user.username }}</option>
      {% endfor %}
    </select>
  </label><br>
  <label>Post:
    <select name="post_id">
      {% for post in posts %}
        <option value="{{ post.post_id }}">Post #{{ post.post_id }}</option>
      {% endfor %}
    </select>
  </label><br>
  <label>Comment: <textarea name="content"></textarea></label><br>
{% endif %}
  <input type="submit" value="Submit">
</form>
<a href="{{ url_for('index') }}">Back to Home</a>
{% endblock %}
